/*button classes*/
* {
  min-width: 0;
}
body {
  overflow: hidden;
  height: 100dvh;
}
#root {
  height: 100%;
}
/* custom-styles.css */
.custom-datepicker {
  background-color: var(--accent-a3);
  border-color: var(--accent-a8);
  color: var(--gray-12);
  @apply border 
  text-lg p-2 rounded hover:cursor-pointer;
}
.custom-datepicker:hover {
  background-color: var(--accent-a6);
}

.btn {
  @apply font-bold py-2 px-4 rounded text-base;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-indigo {
  @apply bg-indigo-600 text-white;
}
.btn-indigo:hover {
  @apply bg-indigo-700;
}

/*input classes*/
.inp {
  @apply block 
          border
          border-indigo-300
          outline-none
          rounded-lg 
          px-2.5 pb-2.5 pt-4
          text-base;
}
.inp-indigo {
  @apply focus:border-indigo-600;
}
.ListBoxItem {
  background-color: var(--accent-a3);
  border-color: var(--accent-a8);
  color: var(--gray-12);

  @apply border 
          text-lg p-2 rounded hover:cursor-pointer;
}
.ListBoxItem:hover {
  background-color: var(--accent-a6);
}
.selectedItem {
  color: var(--gray-2);
  background-color: var(--accent-a11);
  @apply border 
          text-lg p-2 rounded;
}
.selectedItem:hover {
}

.TableRow:hover {
  background-color: var(--accent-a4);
  cursor: pointer;
}
.selectedRow {
  color: var(--accent-a11);
  background-color: var(--accent-a6);
}
