{% extends "base.html" %}
{% block title %} Visudat {% endblock %}
{% block header %}
<div>Visudat Enterprise</div>
<div>PV DATA simplified</div>
{% endblock %}
{% block content %}
<div class="flex flex-col w-full bg-red-200 h-full items-center justify-center">
    <h1 class="text-blue-100">Portalanmeldung</h1>
    <form class="bg-indigo-300" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Send message</button>
        <!-- Non-field errors -->
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </form>
</div>
{% endblock %}
